* {
  font-family: Roboto, sans-serif;
  border-style: none;
}

.title {
  margin: 20px;
  color: rgb(80, 79, 79);
}
.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 180px;
  justify-content: space-between;
}
.form__number {
  width: 200px;
  background-color: lightgray;
  height: 25px;
  border-radius: 5px;
}

.form__buton {
  width: 70px;
  background-color: rgb(4, 197, 181);
  height: 25px;
  border-radius: 5px;
  color: white;
}
.form__buton:hover {
  background-color: grey;
  color: white;
}

.input {
  display: flex;
  flex-direction: column;
  width: 450px;
  border: solid 3px lightgray;
  padding: 5px;
}
